@import "~src/sass/globals";

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    background-color:$background-alternate;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    * {
        text-decoration: none;
        color: $foreground;
    }
}
